/*Universal Styles*/

html{
background-color: white;
color: black;
font-size: 18px;
}

.container{
display: flex;
flex-direction: column;
}

/*Header*/

.company{
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.company img{
  margin-left:24px;
  height: 32px;
}

ul li{
  padding-right: 16px;
  list-style: none;
}

nav ul{
  display: flex;
  margin-right: 24px;

}

/*Main-Banner*/

.left{
  display: flex;
  background-color: #CCCCCC;
  padding: 32px 0;
}

.left img{
  height: 60%;
  width: 60%
  padding: 0px 24px;
}

.right{
width: 40%;
height: 40%;
}

h1{
font-size: 5rem;
color: #333333;
}

h3{
font-size: 2.2rem;
color: #333333;
}

.start{
  background-color:#333333;
  text-align: center;
  padding: 8px 0;
  font-size: 2rem;
  color: white;
}

/*Section-1*/
@media screen only and (max-wdith:540px){

}

/*Section-2*/
@media screen only and (max-wdith:540px){

}

/*Section-3*/
@media screen only and (max-wdith:540px){

}

/*Section-4*/
@media screen only and (max-wdith:540px){

}
/*Footer*/
